* {
    margin: 0;
    padding: 0;
}
$bgColor: green !default; //默认变量
//混合器
@mixin rounded-corners {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
//混合器传参
@mixin ulName($fontSize: 20px, $color: red) {
    font-size: $fontSize;
    list-style: none;
    li + li {
        color: $color;
    }
}
