/*
支持 6 种主要的数据类型：

数字，1, 2, 13, 10px
字符串，有引号字符串与无引号字符串，"foo", 'bar', baz
颜色，blue, #04a3f9, rgba(255,0,0,0.5)
布尔型，true, false
空值，null
数组 (list)，用空格或逗号作分隔符，1.5em 1em 0 2em, Helvetica, Arial, sans-serif
maps, 相当于 JavaScript 的 object，(key1: value1, key2: value2)
*/

.container {
    // 控制指令 if for(through [start,end];to [start,end) 而且start,end必须是N+;)
    //each  while
    .control {
        margin-top: 10px;
        width: 100px;
        background-color: aliceblue;
        $type: 1;
        .ifClass {
            margin-bottom: 10px;
            height: 100px;
            border: 1px solid red;
            > span {
                @if $type==1 {
                    color: red;
                } @else if $type==2 {
                    color: black;
                }
            }
        }

        .forClass {
            height: 100px;
            border: 1px solid red;
            ul {
                list-style: none;
                @for $i from 1 through 3 {
                    @if $i<3 {
                        li:nth-child(#{$i}) {
                            color: red;
                        }
                    } @else if $i==3 {
                        li:nth-child(3) {
                            font-size: 30px;
                        }
                    }
                }
            }
        }

        .eachClass {
            //第一种  遍历数组
            // @each $animal in puma, sea-slug, egret, salamander {
            //     .#{$animal}-icon {
            //       background-image: url('/images/#{$animal}.png');
            //     }
            //   }

            // 第二种 遍历多维数组
            // @each $animal, $color, $cursor in (puma, black, default), (sea-slug, blue, pointer),
            //     (egret, white, move)
            // {
            //     .#{$animal}-icon {
            //         background-image: url('/images/#{$animal}.png');
            //         border: 2px solid $color;
            //         cursor: $cursor;
            //     }
            // }
            @each $name in span, div {
                font-size: 30px;
                color: red;
            }
        }
    }

    //第三种遍历map
    .mapClass {
        width: 200px;
        height: 100px;
        border: 1px solod black;
        $icons: (
            icon1: red,
            icon2: green,
            icon3: purple,
        );
        @each $name, $color in $icons {
            .#{$name}:before {
                display: inline-block;
                content: 'before';
                background-color: #{$color};
            }
        }
    }

    //function
    @function funWidth($width) {
        @return $width;
    }
    .fun {
        width: funWidth(100px);
        height: 100px;
        background-color: antiquewhite;
        border: 1px solid red;
        margin: 10px;
    }
}
