.container {
    .extend1 {
        margin-top: 10px;
        margin-left: 10px;
        width: 100px;
        height: 100px;
        border: 1px solid black;
        background-color: white;
        span {
            color: #f98e8e;
        }
        h2 {
            color: blue;
        }
    }
    //继承 一个选择器可以继承为另一个选择器定义的所有样式
    .extend2 {
        @extend .extend1;
        background-color: beige;
    }
}
