@import 'mixin'; //导入scss
@import 'extend';
@import 'directive';
@import 'insert';

$width: 800px; //全局变量
$bgColor: green !default; //默认变量
$bgColor: #eee; //覆盖default
$basic-border: 5px solid $bgColor;
.container {
    height: 1500px;
    background-color: $bgColor;
    width: $width;
    border: $basic-border;

    //&代表.container .content（从{}开始到&）!!!!!!!!
    .content {
        height: 200px;
        background-color: rgb(24, 241, 169);
        $width: 200px; //局部变量 可以使用!global将局部变量提升为全局变量
        width: $width;
        //用法1.scss解嵌套规则采用的是后代选择器；&可以被父元素直接替换
        &:hover {
            color: red;
            font-size: 20px;
        }
        //用法2.父选择器之前添加选择器： body.ie  .container .content .view a
        .view a {
            body.ie & {
                color: #f98e8e;
            }
            //用法3 必须作为选择器的第一个字符，其后可以跟随后缀生成复合的选择器
            // .container .content .view a-test
            // &-test{
            //     color: #f98e8e;
            // }
        }
    }

    //组合选择器
    .role,
    .manger {
        .role1,
        .role2 {
            color: purple;
        }
        .role1 ~ .role2 {
            font-size: 20px;
        }
    }
}
