* {
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  height: 500px;
  border: 5px solid black;
  border-radius: 5px;
  background-color: #eee;
}
.container .content {
  width: 200px;
  height: 200px;
  background-color: #18f1a9;
}
.container .content:hover {
  color: red;
  font-size: 20px;
}
body.ie .container .content .view a {
  color: #f98e8e;
}
.container .role .role1,
.container .role .role2,
.container .manger .role1,
.container .manger .role2 {
  color: purple;
}
.container .role .role1 ~ .role2,
.container .manger .role1 ~ .role2 {
  font-size: 20px;
}
