* {
    margin: 0;
    padding: 0;
}
$bgColor: green !default; //默认变量
$small-bgColor: rgb(24, 241, 169);
//混合器
@mixin rounded-corners {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }